.dialog-container{

width:80%;
height:75%;

z-index: 150;
background-color: rgb(239, 54, 137);
text-align: center;

position: fixed;
        top: 45%;
        left: 50%;
        transform:translate(-50%,-50%);
}